.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  background-color: #282c34;
  min-height: 100vh;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.board-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* min-height: 100vh; */
}

.board {
  min-width: 920px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 920px;
}

.interface {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-top: 75px;
}

.message {
  margin-bottom: 5px;
  text-align: center;
}

.message div {
  margin-bottom: 5px;
}

.toolbar {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 10px;
}

.player-info {
  display: flex;
  justify-content: space-between;
}

.player-info div {
  margin: 5px;
}

.hand-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tile {
  border: 1px solid black;
  height: 67px;
  width: 90px;
  float: left;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.zoom {
  height: 260px;
  width: 235px;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
}

.zoom .tile-header {
  height: 35px;
  font-size: 15px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.house-desc-container {
  margin: 10px 0;
  width: 80%;
}

.house-desc {
  display: flex;
  justify-content: space-between;
}

.fine-info {
  font-size: 10px;
  padding: 10px;
  text-align: center;
}

.tile-header {
  height: 26px;
  font-size: 10px;
  font-weight: 600;
  line-height: 11px;
  width: 100%;
  position: relative;
  color: black;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.tile-players {
  margin-top: 23px;
  height: 34px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.tile-price {
  position: relative;
  bottom: -27px;
  font-size: 8px;
  text-align: center;
}

.tile-houses {
  margin-top: 48px;
  display: flex;
  width: 90px;
  justify-content: space-between;
  position: absolute;
}

.tile-houses div {
  width: 30px;
}

.tile-houses div:last-child {
  margin-right: -1px;
}

.tile-houses .fa-home {
  font-size: 13px;
}

.hand {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  min-width: 720px;
}

.hand .tile {
  position: relative;
  height: 90px;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-top: -65px;
  transition: ease .5s;
}

.hand-stack {
  display: flex;
  flex-direction: column;
  min-width: 90px;
}

.hand-stack:hover .tile {
  margin-top: 5px;
  transition: ease .5s;
}

.hand-stack .tile:first-child {
  margin-top: 0;
}

.buy {
  opacity: .5;
}

.buy:hover {
  opacity: 1;
}

.tile-info {
  font-size: 9px;
  font-weight: 600;
  margin-top: 4px;
}

.trade-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trade-container i {
  margin-left: 5px;
}

.trade-panel {
  display: flex;
}

.trade-assets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 187px;
  width: 420px;
}

.trade-cash {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.trade-properties {
  position: absolute;
  margin: 20px 5px 5px;
  width: 420px;
  display: flex;
  justify-content: center;
}

.trade-stack .tile {
  margin-top: -42px;
}

.trade-properties .tile {
  width: 65px;
  margin-left: -15px;
  position: relative;
  transition: ease .5s;
}

.trade-properties .tile:first-child, .mortgage-properties .tile:first-child {
  width: 65px;
  /* margin-left: 0; */
  position: relative;
  transition: ease .5s;
}

.trade-properties .trade-stack:hover, .mortgage-properties .trade-stack:hover {
  margin: 0 30px;
  transition: ease .5s;
}

.trade-stack {
  display: flex;
  flex-direction: column;
  transition: ease .5s;
  /* min-width: 90px; */
}

.trade-stack:hover .tile {
  margin-top: 5px;
  transition: ease .5s;
}

.trade-stack .tile:first-child {
  margin-top: 0;
}

.mortgage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.mortgage-properties {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.mortgage-properties .tile:not(:first-child) {
  width: 65px;
  margin-left: -15px;
  position: relative;
  transition: ease .5s;
}

.mortgage-properties .tile:hover {
  transition: ease .5s;
  margin: 0 30px;
}

/* .mortgage-properties .tile:first-child:hover {
  transition: ease .5s;
  margin: 0;
} */

.mortgage-sign {
  transform: rotateZ(-34deg);
  font-size: 14px;
  position: absolute;
  color: red;
  margin-top: 48px;
  font-weight: 700;
}

.mid {
  border: 1px transparent solid;
}

.mid:nth-last-child(2) {
  border-right: 1px black solid;
}

.mid:nth-child(2) {
  border-left: 1px black solid;
}

.top .mid{
  border-top: 1px black solid;
}
.bottom .mid{
  border-bottom: 1px black solid;
}

.die {
  color: grey;
  padding: 5px;
}

.dice {
  margin: 5px;
}

.gray {
  color: gray;
}

.mini {
  position: absolute;
  bottom: 3px;
  right: 3px;
}

.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  justify-content: space-around;
}

.start-menu {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.piece-container {
  margin-bottom: 5px;
}

.piece-container .fas{
  margin-left: 5px;
}

.small-screen {
  color: white;
  text-align: center;
  display: none;   
}

.leaderboard {
  margin-left: auto;
  margin-top: 15px;
  margin: 15px auto;
  padding: 15px;
  background-color: white;
}

.leaderboard div {
  text-align: center;
}

.table-header-name {
  text-align: left;
}

.table-cell {
  text-align: center;
}

.end {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 330px;
  background-color: white;
  border: 2px solid black;
}

@media (max-width: 920px) {
  .start-menu {
    display: none;
  }

  .options {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .small-screen {
    display: block;
  }
}